[Unit]
Description=Defigo sound service
Requires=sound.target
After=sound.target

StartLimitIntervalSec=500
StartLimitBurst=5

[Service]
Type=dbus
BusName=com.getdefigo.sound
ExecStart=/usr/bin/sound -vvv
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target